body {
  font-family: 'Playfair Display', serif;
}

.inner-item {
    text-align: center;
    img {
        margin: 0 auto;
    }
}

.bs-example{
	margin: 20px;
}

.item{
    background: #333;
    text-align: center;
    height: 300px;
    width: 75;
}

.navbar {
    margin-bottom: 0;
    height: 100px;
}
